<footer class="main-footer">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!--Column-->
                <div class="column col-lg-6">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="widget about-widget">
                                <h3 class="widget-title">L'Agenceur Lyonnais</h3>
                                <div class="text">
                                  <ul>
                                    <li>Bénéficiez des services de nos équipes professionnelles formées et qualifiées.</li>
                                    <li>Meubler vos biens n'aura jamais été aussi simple.</li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="footer-widget links-widget pl-lg-5">
                                <h3 class="widget-title">À propos</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/" data-turbolinks="false">Accueil</a></li>
                                        <li><a href="/qui-sommes-nous" data-turbolinks="false">À propos de nous</a></li>
                                        <li><a href="https://res.cloudinary.com/dri5sbvqn/image/upload/v1606339204/documents/CGV_L_AGENCEUR_LYONNAIS_mzgoyg.pdf" target="_blank" data-turbolinks="false">CGV</a></li>
                                        <li><a href="/mentions-legales" data-turbolinks="false">Mentions légales</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column col-lg-6">
                    <div class="footer-widget contact-widget pl-lg-5">
                        <h3 class="widget-title">Nous contacter</h3>
                        <div class="widget-content">
                            <div class="text">Prenez contact avec nous pour réaliser un devis via <a href="/contacts/new" data-turbolinks="false">notre formulaire de contact.</a> <br>Nous aurons toujours une offre qui saura répondre à vos besoins.</div>
                            <ul>
                              <li>Email : <a href="mailto:contact@lagenceur-lyonnais.fr">contact@lagenceur-lyonnais.fr</a></li>
                              <li>Téléphone : <a href="tel:+33763732996">07 63 73 29 96</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="auto-container">
        <div class="footer-bottom">
            <div class="copyright">
              Copyright 2020, SAS l'Agenceur Lyonnais - 9 rue Jules Chaussé - 69630 CHAPONOST SAS au Capital de 10 000€ - SIREN : 888 238 334 R.C.S. Lyon <br>Site internet : www.lagenceur-lyonnais.fr créé par <a href="https://mathilderobert.com" data-turbolinks="false">Mathilde Robert</a>
            </div>
        </div>
    </div>
</footer>
