<div class="modal fade" id="modalEtudiant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_48_zilpkv", :transformation => { :height => 50, :crop => :fill }) %></div> <h5 class="modal-title ml-4" id="exampleModalLabel">Sélection Pack Studio Étudiant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="modal-cuisine">
                <h6>Cuisine</h6>
                <ul>
                  <li>Micro-Ondes/Four (Combiné) x1</li>
                  <li>Réfrigérateur Congélateur sous plan x1</li>
                  <li>Plaque Induction 2 feux x1</li>
                  <li>Range-couverts x1</li>
                  <li>Range-ustensiles x1</li>
                  <li>Ménagère 24 couverts x1</li>
                  <li>Ustensiles de cuisine x1</li>
                  <li>Couteau de cuisine x1</li>
                  <li>Fouet x1</li>
                  <li>Tire-bouchon + décapsuleur x1</li>
                  <li>Epluche légumes x1</li>
                  <li>Ouvre boîte x1</li>
                  <li>Ciseaux x1</li>
                  <li>Egouttoir x1</li>
                  <li>Planche à découper (x2) x1</li>
                  <li>Dessous de plat (x3) x1</li>
                  <li>Passoire x1</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 mt-4">
              <ul>
                <li>Essoreuse x1</li>
                <li>Plats à four x2</li>
                <li>Saladiers x2</li>
                <li>Sets de table x4</li>
                <li>Poêles x2</li>
                <li>Batterie de cuisine x1</li>
                <li>Antiprojection x1</li>
                <li>Service assiettes x1</li>
                <li>Bols x4</li>
                <li>Carafe x1</li>
                <li>Verres à eau (x6) x1</li>
                <li>Verres à vin (x6) x1</li>
                <li>Mugs (x4) x1</li>
                <li>Torchons (x3) x1</li>
                <li>Manique x1</li>
                <li>Poubelle x1</li>
              </ul>
            </div>
            <div class="col-md-4">
              <div class="modal-salon">
                <h6>Salon / Chambre</h6>
                <ul>
                  <li>Table basse x1</li>
                  <li>Meuble TV x1</li>
                  <li>Table à manger x1</li>
                  <li>Chaises x2</li>
                  <li>Banquette / Lit x1</li>
                  <li>Alèse imperméable x1</li>
                  <li>Oreillers x2</li>
                  <li>Protèges-oreillers x2</li>
                  <li>Couette x1</li>
                  <li>Tables de chevet x2</li>
                  <li>Commode x1</li>
                  <li>Bureau x1</li>
                  <li>Fauteuil x1</li>
                  <li>Penderie à vêtements x1</li>
                  <li>Suspension x1</li>
                  <li>Détecteur de fumée x1</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="modal-deco">
                <h6>Meubles et décoration</h6>
                <ul>
                  <li>Cadres et images x2</li>
                  <li>Affiches x2</li>
                  <li>Tablette pour photos x1</li>
                  <li>Miroir x1</li>
                  <li>Petites décorations x5</li>
                  <li>Tapis x1</li>
                  <li>Coussins x2</li>
                  <li>Housses de coussin x2</li>
                  <li>Lampe de bureaux x1</li>
                  <li>Lampes de chevets x2</li>
                  <li>Tringles à rideaux x2</li>
                  <li>Rideaux x2</li>
                  <li>Horloge x1</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="modal-sdb">
                <h6>Salle de bains / Sanitaire</h6>
                <ul>
                  <li>Poubelle à pédale, 3L x1</li>
                  <li>Porte-savon x1</li>
                  <li>Porte Brosse à dent x1</li>
                  <li>Distributeur de savon x1</li>
                  <li>Support papier toilette x1</li>
                  <li>Brosse WC x1</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="modal-buanderie">
                <h6>Buanderie</h6>
                <ul>
                  <li>Étendoir x1</li>
                  <li>Balai x1</li>
                  <li>Pelle Balayette x1</li>
                  <li>Serpillère x1</li>
                  <li>Seau x1</li>
                  <li>Table à repasser x1</li>
                  <li>Fer à repasser x1</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalStandard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_52_n4mnvn", :transformation => { :height => 50, :crop => :fill }) %></div> <h5 class="modal-title ml-4" id="exampleModalLabel">Sélection Pack Standard</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="modal-cuisine">
                <h6>Cuisine</h6>
                <ul>
                  <li>Micro-Ondes/Four (Combiné)</li>
                  <li>Réfrigérateur Congélateur</li>
                  <li>Plaque Induction</li>
                  <li>Suspension</li>
                  <li>Range-couverts</li>
                  <li>Ménagère</li>
                  <li>Ustensiles de cuisine</li>
                  <li>Couteaux de cuisine</li>
                  <li>Fouet</li>
                  <li>Tire-bouchon + décapsuleur</li>
                  <li>Ciseaux</li>
                  <li>Service assiettes</li>
                  <li>Bols</li>
                  <li>Carafe</li>
                  <li>Verres à eau</li>
                  <li>Verres à vin</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 mt-4">
              <ul>
                <li>Tasses</li>
                <li>Mugs</li>
                <li>Dessous de plat</li>
                <li>Passoire</li>
                <li>Essoreuse</li>
                <li>Plats à four</li>
                <li>Saladiers</li>
                <li>Poêles</li>
                <li>Batterie de cuisine</li>
                <li>Antiprojections</li>
                <li>Torchons</li>
                <li>Maniques</li>
                <li>Poubelle</li>
                <li>Épluche-légume</li>
                <li>Égouttoir</li>
                <li>Planches à découper</li>
                <li>Sets de table</li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="modal-salon">
                <h6>Entrée / Salon / Salle à manger</h6>
                <ul>
                  <li>Canapé/Canapé convertible</li>
                  <li>Table basse</li>
                  <li>Meuble TV</li>
                  <li>Table</li>
                  <li>Chaises</li>
                  <li>Porte manteaux</li>
                  <li>Lampadaire</li>
                  <li>Suspension</li>
                  <li>Détecteur de fumée</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="modal-deco">
                <h6>Chambre</h6>
                <ul>
                  <li>Sommier</li>
                  <li>Matelas</li>
                  <li>Alèse imperméable </li>
                  <li>Oreillers</li>
                  <li>Protèges-oreillers</li>
                  <li>Couette</li>
                  <li>Tables de chevet</li>
                  <li>Commode</li>
                  <li>Fauteuil</li>
                  <li>Penderie à vêtements</li>
                  <li>Suspension</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="modal-sdb">
                <h6>Meuble et décoration</h6>
                <ul>
                  <li>Tableaux et objets décos</li>
                  <li>Tablette pour photos</li>
                  <li>Miroir</li>
                  <li>Tapis</li>
                  <li>Lampes de chevets</li>
                  <li>Tringles à rideaux</li>
                  <li>Rideaux</li>
                  <li>Horloge</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="modal-buanderie">
                <h6>Salle de bains / Sanitaire</h6>
                <ul>
                  <li>Poubelle à pédale, 3L </li>
                  <li>Porte-savon</li>
                  <li>Porte Brosse à dent</li>
                  <li>Distributeur de savon</li>
                  <li>Support papier toilette</li>
                  <li>Brosse WC</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="modal-buanderie">
                <h6>Buanderie</h6>
                <ul>
                  <li>Étendoir</li>
                  <li>Balai</li>
                  <li>Pelle Balayette</li>
                  <li>Serpillère</li>
                  <li>Seau</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalConfort" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_46_rzijka", :transformation => { :height => 50, :crop => :fill }) %></div> <h5 class="modal-title ml-4" id="exampleModalLabel">Sélection Pack Confort</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="modal-cuisine">
                <h6>Cuisine</h6>
                <ul>
                  <li>Micro-Ondes/Four (Combiné)</li>
                  <li>Réfrigérateur Congélateur</li>
                  <li>Plaque Induction</li>
                  <li>Machine à café</li>
                  <li>Bouilloire</li>
                  <li>Grille-pain</li>
                  <li>Suspension</li>
                  <li>Range-couverts</li>
                  <li>Ménagère</li>
                  <li>Couverts de services</li>
                  <li>Couverts à salade</li>
                  <li>Ustensiles de cuisine</li>
                  <li>Couteaux de cuisine</li>
                  <li>Fouet</li>
                  <li>Tire-bouchon + décapsuleur</li>
                  <li>Ciseaux</li>
                  <li>Service assiettes</li>
                  <li>Bols</li>
                  <li>Carafe</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 mt-4">
              <ul>
                <li>Verres à eau</li>
                <li>Verres à vin</li>
                <li>Tasses</li>
                <li>Mugs</li>
                <li>Dessous de plat</li>
                <li>Passoire</li>
                <li>Essoreuse</li>
                <li>Plats à four</li>
                <li>Saladiers</li>
                <li>Poêles</li>
                <li>Batterie de cuisine</li>
                <li>Antiprojections</li>
                <li>Torchons</li>
                <li>Gants isolants</li>
                <li>Poubelle 30L</li>
                <li>Épluche-légume</li>
                <li>Égouttoir</li>
                <li>Planches à découper</li>
                <li>Sets de table</li>
                <li>Plat bambou</li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="modal-salon">
                <h6>Entrée / Salon / Salle à manger</h6>
                <ul>
                  <li>Canapé/Canapé convertible</li>
                  <li>Pouf</li>
                  <li>Fauteuil</li>
                  <li>Table basse</li>
                  <li>Meuble TV</li>
                  <li>TV LED</li>
                  <li>Table à manger</li>
                  <li>Chaises</li>
                  <li>Porte manteaux</li>
                  <li>Lampadaire</li>
                  <li>Suspension</li>
                  <li>Détecteur de fumée</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="modal-deco">
                <h6>Chambre</h6>
                <ul>
                  <li>Sommier</li>
                  <li>Matelas</li>
                  <li>Alèse imperméable </li>
                  <li>Oreillers</li>
                  <li>Protèges-oreillers</li>
                  <li>Couette</li>
                  <li>Tables de chevet</li>
                  <li>Commode à tiroir</li>
                  <li>Fauteuil</li>
                  <li>Penderie à vêtements</li>
                  <li>Suspension</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="modal-sdb">
                <h6>Meuble et décoration</h6>
                <ul>
                  <li>Tableaux et objets décos</li>
                  <li>Tablette pour photos</li>
                  <li>Miroir sur pied</li>
                  <li>Tapis</li>
                  <li>Coussins</li>
                  <li>Lampes de chevets</li>
                  <li>Tringles à rideaux</li>
                  <li>Rideaux occultants</li>
                  <li>Rideaux voilage</li>
                  <li>Horloge</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="modal-buanderie">
                <h6>Salle de bains / Sanitaire</h6>
                <ul>
                  <li>Poubelle à pédale, 3L </li>
                  <li>Porte-savon</li>
                  <li>Porte Brosse à dent</li>
                  <li>Distributeur de savon</li>
                  <li>Support papier toilette</li>
                  <li>Brosse WC</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="modal-buanderie">
                <h6>Buanderie</h6>
                <ul>
                  <li>Aspirateur sans sac</li>
                  <li>Fer et table à repasser</li>
                  <li>Pèse-personne</li>
                  <li>Panier à linge</li>
                  <li>Étendoir</li>
                  <li>Balai</li>
                  <li>Pelle balayette</li>
                  <li>Serpillère</li>
                  <li>Seau</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
