<div class="page-wrapper">
    <!-- Preloader -->
    <%= render 'shared/preloader' %>

    <!-- Main Header -->
    <%= render 'shared/main-header' %>
    <!-- End Main Header -->

    <!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
            <div class="content-box">
                <div class="content-wrapper">
                  <div class="title">
                    <h1>Mentions légales</h1>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Title -->

    <section class="mentions-legales-text">
      <div class="auto-container">
        <div class="content-box">
          <div class="content-wrapper">
            <div class="title">
              <h2>Mentions légales</h2>
            </div>
            <div class="text">
              Le présent site est la propriété de L’Agenceur. <br>

              Siège social : <br><br>

              L’Agenceur
              9 rue Jules Chaussé
              69630 CHAPONOST <br><br>

              SAS au Capital de 10 000€ <br><br>

              Inscrit au Répertoire de Entreprises et des Etablissements
              sous le numéro XXX XXX XXX <br><br>

              Les utilisateurs, de ce site sont tenus de respecter la légalité et en particulier les dispositions de la loi Informatique et libertés dont la violation est sanctionnée
              pénalement. Ils doivent notamment s'abstenir, s'agissant des informations auxquelles ils accèdent, de toute collecte, captation, déformation ou utilisation et d'une
              manière générale de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes. Les utilisateurs sont informés, conformément aux
              dispositions de la loi Informatique et libertés qu'ils disposent d'un droit d'accès et de rectification relativement aux informations les concernant auprès de
              L’Agenceur Lyonnais. <br><br>

              La structure générale, ainsi que les textes, images et sons composant ce site sont la propriété de l’Agenceur. Toute représentation totale ou partielle de ce site ou
              d'un ou plusieurs de ces composants, par quelque procédé que ce soit, sans autorisation expresse de l’Agenceur est interdite et constituerait une contrefaçon
              sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. <br><br>

              l’Agenceur ne saurait être tenue responsable pour toutes erreurs ou omissions dans les textes et illustrations du site. Toutes les informations peuvent faire l'objet de
              modifications et suppressions sans préavis. <br><br>

              Les liens hypertextes mis en place dans le cadre du présent site Internet en direction d'autres sites présents sur le réseau internet ne sauraient engager la
              responsabilité de l’Agenceur.
              En aucun cas, l’Agenceur ne sera tenu responsable des dommages directs, indirects résultants de l'usage de ce site web ou d'autres sites qui lui sont liés
              directement et indirectement. <br><br>

              <h4>CONCEPTION DU SITE</h4> <br>

              Le site lagenceur-lyonnais.com a été conçu par Mathilde Robert. <br><br>

              Adresse
              47, rue Marx Dormoy
              75018 PARIS <br><br>

              E-mail
              formulaire de contact <br><br>

              Site
              http://www.mathilderobert.com <br><br>

              Siret
              88174489000016 <br><br>

              HÉBERGEUR <br><br>

              OVH
              SAS au Capital de 10 059 500€
              RCS Lille Métropole 424 761 419 00045
              Code APE 6202A
              N° TVA : FR22 424 761 419
              Siège social : 2 Rue Kellermann
              59100 Roubaix
              France <br><br>

              <h4>COLLECTION DES DONNÉES PERSONNELLES</h4> <br>

              Le site www.lagenceur-lyonnais.fr a été enregistré à la CNIL (Commission Nationale de l'Informatique et des Libertés) le XX XXXX XXXX <br>

              Traitement déclaré : Site internet - Gestion des fichiers de clients et de prospects. Numéro de déclaration : XXXXX. <br>

              Le présent site fait également usage de cookies. Le cookie a pour but de signaler le passage du visiteur sur le site. Les cookies ne sont utilisés par L’Agenceur dans
              le but d'améliorer le service personnalisé destiné au visiteur. <br>

              En aucun cas nous ne collectons l'adresse e-mail des visiteurs sans que ces derniers ne nous la communiquent délibérément. <br>

              Finalité du traitement des données. <br>

              Les informations recueillies font l'objet d'un traitement destiné à communiquer des offres commerciales. Seule notre société est destinataire des informations
              communiquées. <br>

              Conformément aux obligations légales, nous conservons ces informations selon des durées limitées dans le temps, proportionnelles aux finalités pour lesquelles
              vous nous les avez communiquées. <br>

              La protection de vos données personnelles et exercice du droit d'accès. <br>

              En application de la loi Informatique et Libertés du 6 janvier 1978, vous disposez à tout moment d'un droit d'accès et de modification su
              r les données personnelles vous concernant. Pour exercer ce droit, vous pouvez contacter l’Agenceur par courrier à l’adresse suivante : <br><br>

              L’Agenceur <br>
              9 rue Jules Chaussé <br>
              69630 CHAPONOST <br>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Main Footer -->
    <%= render 'shared/footer' %>
</div>

<!--Scroll to top-->
<%= render 'shared/scroll-to-top' %>
