<div class="confirmation-green alert alert-success" role="alert">
  <p>Merci <%= @contact.first_name %> <%= @contact.last_name %> pour <%= @contact.demand.gsub('Une', 'votre') %>.</p>
  <p>L'équipe de l'Agenceur Lyonnais vous répondra dans les plus brefs délais.</p>
</div>
